a, /*etc*/
a:visited,
span {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button{
    background-color: #ff8c1a;
    border: none;
    color: #ffffff;
}

input[type=submit]{
    background-color: #ff8c1a !important;
    border: none!important;;
    color: #ffffff!important;;
}

button:hover{
    background-color: #e67300;
}

input{
    border: solid 1px #e3e3e3;
}

input:focus{
    border: solid 1px #000000;
}

input:invalid{
    outline: none;
    box-shadow: none;
}

form{
    margin: 0;
}

.left{
    float:left;
}

.right{
    float: right;
}

/*Voorpagina*/
.homepage-featured-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.homepage-featured-detail {
    background: rgba(0, 0, 0, 0.5);
    min-height: 200px;
    padding: 5px;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    color: #fff;
    margin-bottom: 50px;
    right: 15px;
}

.homepage-featured-detail h2 {
    font-size: 25px;
    margin: 0;
    opacity: 1.0;
}

.homepage-featured-prijs {
    color: #ff8c1a;
    font-size: 20px;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 5px;
}

.homepage-featured-prijs span {
    color: inherit;
}

.btn-homepage {
    position: absolute;
    height: 30px;
    width: 80px;
    bottom: 8px;
    right: 10px;
}

.homepage-veiling {
    border: #dddddd solid 2px;
    padding: 10px;
    margin: 5px;
    min-height: 410px;
    max-width: 260px;
}

@media (min-width: 1200px){
    .homepage-veiling{
        margin-left: 15px;
    }
}

.homepage-veiling:hover {
    color: #000080;
}

.homepage-veiling img {
    height: 270px;
    width: 100%;
    object-fit: cover;
}

.homepage-veiling-prijstijd {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #4d79ff;
    font-weight: bold;
}

/*Rubrieken veilinglijst*/
.veilingitem {
    border: #dddddd solid 2px;
    background-color: #f2f2f2;
    min-height: 128px;
    min-width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    float: left;
    margin: inherit;
    margin-bottom: 5px;
    position: relative;
}

.veilingitem img {
    float: left;
    height: 96px;
    width: 128px;
    margin-right: 10px;
    object-fit: cover;
}

.veilingitem p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
}

.veilingitem a:hover,
.veilingitem a:active {
    color: #000080;
}


.prijs {
    bottom: 0;
    float: left;
    font-size: 24px;
    color: #4d79ff;
}

.veiling-info {
    margin-left: 5px;
    font-size: 24px;
    float: right;
}

.veiling-detail {
    color: #ffffff;
    background-color: #ff8c1a;
    font-size: 18px;
    border: none;
}

/* Subrubrieken*/
.subrubrieken {
    text-align: center;
    margin-bottom: 20px;
}

.subrubrieken a {
    font-size: 20px;
    line-height: 40px;
}

.subrubrieken a:hover {
    color: #4d79ff;
}


/*veiling item*/
.veilingtijd {
    font-size: 40px;
    color: #4d79ff;
}

.tijd-hidden {
    display: none;
}

.bieden{
    font-size: 30px;
}

.bied-bar{
    width: 150px;
    box-sizing: border-box;
    height: 50px;
}

.btn-bied{
    height: 50px;
}

.boddetail {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: solid 1px #c0c0c0;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.gebruikersnaam{
    float: left;
    width: 67%;
    text-align: left;
}

.bodprijs{
    float: left;
}

.bod-date{
    float: right;
    margin: 1px 0px 0px 3px;
    font-size: 12px;
    line-height: 10px;
}

.highest-bod, .bod{
    margin: 3px 5px 3px 5px;
    word-wrap: break-word;
}

.highest-bod{
    font-size: 22px;
    line-height: 22px;
    color: #4d79ff;
    margin-top: 3px;
}

.bod{
    line-height: 22px;
    font-size: 22px;
    color: #000000;
}

.bigpicture {
    width: 80vw;
    max-width: 300px;
    height: 80vw;
    max-height: 250px;
    margin: 10px;
    margin-left: 15px;
    margin-top: 0px;
    border: #dddddd solid 2px;
}

.smallpicture {
    width: 250px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

.extrainfo {
    padding: 15px;
    float: right;
}

/*Navigatie*/
.navigation {
    margin-top: 10px;
    padding: 3px;
    border: #dddddd solid 2px;
    background-color: #f2f2f2;
    font-size: 16px;
}

.navigation a {
    color: #4d79ff;
}

/*Contactpagina*/
.contact {
    border: #dddddd solid 2px;
    padding: 10px;
}

.map {
    padding: 0;
}

/*Header en footer*/
.headerbar {
    background-color: #4d79ff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    height: 90px;
    position: relative;
}

.headerbar-content{
    background-color: #4d79ff;
    padding-top: 10px;
}

.user{
    margin-right: 5px;
    width: 35px;
    float: right;
    border:0;
}

.user:hover{
    background-color:#3366ff
}

.search{
    margin-top: 5px;
    font-size: 14px;
    box-sizing: border-box;
    float: right;
    margin-bottom: 10px;
}

.search-bar{
    width: 70%;
    height: 30px;
    float: left;
}

.btn-search{
    width: 30%;
    height: 30px;
}

footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    clear: both;
}

footer a {
    font-size: 18px;
}


/* Registration page */
.registration-table {
    width: 100%;
}

.registration-table td {
    padding: 0.1em;
}

.registration-table input, select {
    float: right;
    width: 100%;
}

.registration-table:first-child td:first-child {
    width: 25%;
    font-size: 100%;
}

.registration-table td:nth-child(2) {
    width: 50%;
    min-width: 100px;
}

.submit-registrion input {
    margin-top: 0.5em;
    margin-right: 0.4em;
    float:left;
}

.red {
    color:red;
}

@media(max-width: 1200px){
    .bigpicture{
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;

        width: 80vw;
        max-width: 400px;
        height: 80vw;
        max-height: 350px;
    }
}

@media (max-width: 768px) {
    .headerbar{
        height: 120px;
    }

    .alert{
        margin-left: 0px;
    }

    .gebruikersnaam{
        width: 100%;
        padding-top: 3px;
    }

    .bod-date, .bodprijs{
        margin: 0;
        border-bottom: solid 1px #c0c0c0;
        padding-bottom: 3px;
    }

    .bod-date{
        width: 30%;
        line-height: 11px;
        text-align: right;
    }

    .bodprijs {
        width: 70%;
        text-align: left;
    }
}

.welkom-message{
    margin-left: 275px;
    margin-top: 5px;
    color: white;
    font-size: 15pt;
}


/*Collapseble menu */
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}