a, /*etc*/
a:visited,
span {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*Voorpagina*/
.homepage-featured-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.homepage-featured-detail {
    background: rgba(0, 0, 0, 0.5);
    min-height: 200px;
    padding: 5px;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    margin-bottom: 50px;
}

.homepage-featured-detail h2 {
    font-size: 25px;
    margin: 0;
    opacity: 1.0;
}

.homepage-featured-prijs {
    color: #ff8c1a;
    font-size: 20px;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 5px;
}

.homepage-featured-prijs span {
    color: inherit;
}

.btn-homepage {
    position: absolute;
    height: 30px;
    width: 80px;
    bottom: 8px;
    right: 10px;
}

.btn-homepage:hover {
    background-color: #e67300;
}

.homepage-veiling {
    border: #dddddd solid 2px;
    padding: 10px;
    margin: 5px;
    min-height: 410px;
    max-width: 260px;
}

.homepage-veiling:hover {
    color: #000080;
}

.homepage-veiling img {
    height: 270px;
    width: 100%;
}

.homepage-veiling-prijstijd {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #4d79ff;
    font-weight: bold;
}

/*Rubrieken veilinglijst*/
.veilingitem {
    border: #dddddd solid 2px;
    background-color: #f2f2f2;
    min-height: 128px;
    min-width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    float: left;
    margin: inherit;
    margin-bottom: 5px;
    position: relative;
}

.veilingitem img {
    float: left;
    height: 96px;
    width: 128px;
    margin-right: 10px;
}

.veilingitem p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
}

.veilingitem a:hover,
.veilingitem a:active {
    color: #000080;
}

.prijs {
    bottom: 0;
    float: left;
    font-size: 24px;
    color: #4d79ff;
}

.veiling-info {
    margin-left: 5px;
    font-size: 24px;
    float: right;
}

.veiling-detail {
    color: #ffffff;
    background-color: #ff8c1a;
    font-size: 18px;
    border: none;
}

/* Subrubrieken*/
.subrubrieken {
    text-align: center;
    margin-bottom: 20px;
}

.subrubrieken a {
    font-size: 20px;
    line-height: 40px;
}

.subrubrieken a:hover {
    color: #4d79ff;
}

/*veiling item*/
.prijstijd {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #4d79ff;
}

.veilingprijs {
    float: left;
}

.veilingtijd {
    float: right;
}

.btn-bied {
    margin-top: 5px;
    margin-left: 5px;
}

.tijd-hidden {
    display: none;
}

.tijd {
    float: left;
}

.bigpicture {
    width: 80vw;
    max-width: 300px;
    height: 80vw;
    max-height: 250px;
    margin: 10px;
    border: #dddddd solid 2px;
}

.smallpicture {
    width: 250px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.detail {
    padding: 10px;
    float: left;
}

.extrainfo {
    padding: 10px;
    float: right;
}

/*Navigatie*/
.navigation {
    margin-top: 10px;
    padding: 3px;
    border: #dddddd solid 2px;
    background-color: #f2f2f2;
    font-size: 16px;
}

.navigation a {
    color: #4d79ff;
}

/*Contactpagina*/
.contact {
    border: #dddddd solid 2px;
    padding: 10px;
}

.map {
    padding: 0;
}

/*Header en footer*/
.headerbar {
    background-color: #4d79ff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 7px;
    height: 70px;
}

.headerLogo {
    top: 10px;
    position: absolute;
}

footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    clear: both;
}

footer a {
    font-size: 18px;
}


/* Registration page */
.registration-table {
    width: 100%;
}

.registration-table td {
    padding: 0.1em;
}

.registration-table input, select {
    float: right;
    width: 100%;
}

.registration-table:first-child td:first-child {
    width: 25%;
    font-size: 100%;
}

.registration-table td:nth-child(2) {
    width: 50%;
    min-width: 100px;
}

.submit-registrion input {
    margin-top: 0.5em;
    margin-right: 0.4em;
    float:left;
}

.red {
    color:red;
}